{% extends 'Login/authbase.html' %}
{% load static %}

{% block title %}Login ITBANK{% endblock %}

{% block content %}
<form method="post" class="row m-2 p-4 col-lg-5 col-sm-12 text-center" id="columna_derecha">
    {% csrf_token %}
    <h2 class="p-2">Inicia Sesión</h2>
    {% for field in loginform %}
        {% if forloop.counter == 1 %}
            <div class="col-8 mb-1">
                <label for="{{field.auto_id}}" class="visually-hidden">_spacer</label>
                {{field}}
            </div>
            <div class="col-4">
                <button class="btn btn-primary" type="submit">Ingresa</button>
            </div>
        {% elif forloop.counter == 2 %}
            <div class="col-8">
                <label for="{{field.auto_id}}" class="visually-hidden">_spacer</label>
                {{field}}
            </div>
            <div class="col-4">
                <button type="button" onclick="mostrarToggle()" class="btn btn-secondary mb-3">Mostrar</button> 
            </div>
        {% endif %}
    {% endfor %}
    <div class="row">
        <span><strong> ¿No tenés cuenta? </strong> <a href="{% url 'Login:newuser' %}">Registrate</a></span>
    </div>
    <div class="row">
        <span><a href="{% url 'Cuentas:emptynotlog' %}"> Recuperar contraseña </a></span>
    </div>
</form>
{% endblock %}