*{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
}

#logo{
    width: 350px;
}

body{
    background-image: url(imagenes/Fondo\ 4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body:before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    opacity: 0.8;
    z-index: -1;
}

a{
    color: white;
}

a:hover{
    color: #3d99be;
}

#columna_derecha{
    background-color: rgba(62, 58, 150, 0.6);
    border-radius: 25px;
}

.redes {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

footer{
    width: 100%;
    position: static;
    bottom: 0;
    left: 0;
    text-align: center;
}

footer ul{
    list-style: none;
}

footer a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    margin: 5px;
    background-color: rgba(62, 58, 150, 0.6);
    border-radius: 10px;
}
footer a:hover {
    background-color: rgba(30, 28, 75, 0.6);
    color: #3d99be;
}

